html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}


nav {
  display: flex;
  justify-content: space-between;
  align-items:center;
  background: rgba(0, 0, 0, 0.7);
  padding: 2px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border: 4px solid rgba(255, 255, 255, 0.5);
  background-color: rgba(255, 255, 255, 0.85);
  border-radius: 8px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

#homelogo {
    height: 80px;
    width: 80px;
}

.logo {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  font-weight: bold;
  color: rgb(231, 142, 8);
  gap: 10px; 
 

}

.signup-link a {
  text-decoration: none;
  font-weight: bold;
  color: rgb(231, 142, 8);
  margin-right: 5px;
}

.signup-link a:hover {
  text-decoration: underline;
}



.form-container {
  background-color: rgba(255, 255, 255, 0.85);
  padding: 25px;
  border-radius: 6px;
  width: 90%;
  max-width: 350px;
   margin: 110px auto;  /* push down with 100px margin-top */
  text-align: center;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  margin-bottom: 20px;
}

.form-container img {
  width: 130px;
  margin-bottom: 20px;
}

h2 {
  font-family: 'Arial', sans-serif;
  font-size: 24px;
  color: #333;
  margin-bottom: 15px;
}

input[type="email"] {
  width: 100%;
  padding: 10px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
  box-sizing: border-box;
}

input:focus {
  border-color: #f39c12;
  outline: none;
}


button {
  background-color: #f31212;
  color: white;
  padding: 10px;
  width: 100%;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #272121;
}

.login-link {
  margin-top: 15px;
  font-size: 14px;
}

.login-link a {
  color: #bb0000;
  text-decoration: none;
}

.login-link a:hover {
  text-decoration: underline;
}

 #hmepgfooter {
    background-color: rgba(33, 32, 32, 0.85);
    color: #f1f1f1;
    text-align: center;
    padding: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    line-height: 1.6;
  }
    
